html {
    background-color: #fef9f5;
}

h1, h2, h3, h4, h5, li, div {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;    
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

i {
    padding-right: 16px;
    color: #296002;
    font-weight: bold;
}

.bold {
    font-weight: 500;
}

.btn, button {
    padding: 12px 30px 10px 30px;
    font-weight: 400;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.6em;
    border: 0;
    top: 30px;
    position: relative;
    background-color: #296002;
    color: #ffffff;
    text-decoration: none;
}

.btn:hover, button:hover {
    background-color: #669900;
}

.hero .btn {
    background-color: #e36c04;
}

.hero .btn:hover {
    background-color: #ff9933;
}

main {
    max-width: 1350px;
    margin: 0 auto;
}

.container {
    text-align: center;
}

h1.title {
    display: inline-block;
    background-color: #edefc0;
    padding: 100px 0;
    width: 100%;
}

img.contact {
    width: 100%;
    padding-top: 30px;
}
/********************************************************Header */

header{
   display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    max-width: 1100px;
    height: 90px;
}

.logo img {
    float:left;
    width: 70px;
    padding-right: 10px;
}

.logo div {
    margin-top: 30px;
    padding-left: 20px;
    font-size: 30px;
    color: #000000;
}

header a, header div {
    text-decoration: none;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 400;
}

.menu nav {
    float: right;
    margin-top: 35px;
    text-transform: uppercase;   
}

.menu nav a {
    font-size: 25px;
    margin-left: 20px;
    color: #000000;
}

.menu nav a:hover {
    color: #e36c04; 
}


/*************************************** HERO */

.hero {
    background: url(../Images/bkgd-hero.jpg) no-repeat center;
    height: 620px;
}

.hero div {
    max-width: 500px;
    top: 25%;
    left: 10%;
    position: relative;
}

.hero div h1 {
    font-size: 5.5em;
    font-weight: 300;
    color: white;
}

.hero div p {
    font-size: 2em;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 200;
    color: white;
}

/**************************************************** BENEFITS */

.benefits {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    height: 200px;
    background-color: #edefc0;
    padding: 30px 0px;
}

.benefits div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits div h2 {
    font-size: 3em;
}

.benefits div ul {
   font-size: 1.4em;
   margin-left: -190px;
   list-style-type: none;
}

.benefits div ul li {
    line-height: 1.4em;
    font-size: 1.3em;
    font-weight: 300;
}

/**************************************************** FEATURES */

.features {
    text-align: center;
    padding: 30px 0px;
}

.features p {
    text-align: left;
    font-size: 16px;
}

.grid4 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 40px;
   padding-top: 30px;
}

.steps div {
    text-align: center;
    display: inline-block;
    background-color:#e36c04;
    padding: 15px;
    border-radius: 30px;
    width: 25px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.5em;
}
/**************************************************** PLANS PAGE */

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.card {
    border: 2px solid #ececec;
    border-radius: 3px;
    padding: 40px 0px 70px 0px;
    background-color: #fdf0dd;
}

.card i {
    font-size: 9em;
    padding-bottom: 20px;
    color: #f8b174;
}

.card h3 {
    font-size: 40px;
    padding-bottom: 20px;
}

.card p {
    font-size: 16px;
    font-weight: 400;
}

.finetext {
    text-align: center;
    padding: 0 0 60px 0;
}

/**************************************************** CONTACT PAGE */

.grid2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    padding: 40px;
    text-align: left;
}

form {
    margin: 30px 0;
    width: 95%;   
}

input, textarea, select{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    color: black;
    background-color: #ebe7d9;
    padding: 12px;
    border: 0;
    margin: 6px 0 18px 0;
}

label {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; 
}

input {
    width: 100%;
    border: 0;
    height: 30px;
}

select {
    width: 103%;
}

textarea {
    width: 100%;
    height: 90px;
        
}
/**************************************************** CALLOUT */

.callout {
    background-color: #e36c04;
    padding: 30px 0px 60px 0px;
    text-align: center;
}

.callout h3 {
    font-size: 50px;
    font-weight: 200;
    color: white;
}

/**************************************************** FOOTER **/

footer {
    margin: 10px auto;
    max-width: 1100px;
    font-size: 14px;
    padding: 30px 0;
    text-align: center;
}

footer img {
    width: 50px;
}

/**************************************************** MEDIA QUERIES **/
/* For mobile phones (portiait and landscape views)*/
/*Header*/
@media screen and (max-width: 500px) {

header {
   padding: 0 20px;
}

.menu nav {
    text-align: right;
    margin-top: 24px;
    padding: 0;
}

.logo img {
    width: 50px;
    margin-top: 13px;
}

.menu nav a {
    display: block;
    font-size: 20px;
}

.menu nav a:nth-child(1) {
    border: 0;
    padding: 0 0 6px 0;
}

h1.title {
    padding: 30px 0;
}
/*Hero Section*/
.hero {
    background: url("../images/bkgd-hero.jpg")no-repeat left;
    background-size: 130%;
    height: 240px;
}

.hero div {
   top: 25px;
   left: 20px;
   width: 60%; 
}

.hero div h1 {
    font-size: 2.2em;
    font-weight: 300;
    color: white;
}

.hero div p {
    font-size: 1em;
    padding-top: 8px;
}
/* Benifits Section*/

.benefits,.grid4,.grid3,.grid2 {
    grid-template-columns: 100%;
} 

.benefits div h2 {
    font-size: 2.4em;
}

.benefits div ul {
    font-size: 1em;
    margin-left: -40px;
}

.grid4 div {
    padding: 0 20px;
}

.steps div {
    padding: 10px;
    border-radius: 100px;
}
    
}

/*For portrait and landscape tables */
@media screen and (min-width:600px) and (max-width: 1024px) {

    header {
        padding: 0 20px;
    }

    .hero div {
        top: 30px;
        left: 30px;
        width: 60%;
    }

    .hero {
        background: url("../images/bkgd-hero.jpg") no-repeat left;
        background-size: 130%;
        height: 400px;
    }

    .benefits div h2 {
        font-size: 2.4em;
    }

    .benefits div ul {
        font-size: 1.1em;
        margin-left: -50px;
    }

    .grid4 {
        grid-template-columns: repeat(2, minmax(0,1fr));
        grid-gap: 60px;
        padding: 30px 60px;
    }

    form {
        padding-right: 40px;
    }

    .grid2 div p {
        font-size: 15px;
    }

    h1.title {
        padding: 50px 0;
    }
    
}
