body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/*******Header*********/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #333;
}

/*****Hero Section ********/
.hero {
    background: url('../Images/hero-bg.jpg') no-repeat center center/cover;
}