html {
    background-color: #fef9f5;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, li, div {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;    
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

i {
    padding-right: 16px;
    color: #296002;
    font-weight: bold;
}

.bold {
    font-weight: 500;
}

.btn, button {
    padding: 12px 30px 10px 30px;
    font-weight: 400;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.6em;
    border: 0;
    top: 30px;
    position: relative;
    background-color: #296002;
    color: #ffffff;
    text-decoration: none;
}

.btn:hover, button:hover {
    background-color: #669900;
}

.hero .btn {
    background-color: #e36c04;
}

.hero .btn:hover {
    background-color: #ff9933;
}

main {
    max-width: 1350px;
    margin: 0 auto;
}

.container {
    text-align: center;
}

h1.title {
    display: inline-block;
    background-color: #edefc0;
    padding: 100px 0;
    width: 100%;
}

img.contact {
    width: 100%;
    padding-top: 30px;
}
/********************************************************Header */

header{
   display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    max-width: 1100px;
    height: 90px;
}

.logo img {
    float:left;
    width: 70px;
    padding-right: 10px;
}

.logo div {
    margin-top: 30px;
    padding-left: 20px;
    font-size: 30px;
    color: #000000;
}

header a, header div {
    text-decoration: none;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 400;
}

.menu nav {
    float: right;
    margin-top: 35px;
    text-transform: uppercase;   
}

.menu nav a {
    font-size: 25px;
    margin-left: 20px;
    color: #000000;
}

.menu nav a:hover {
    color: #e36c04; 
}


/*************************************** HERO */

.hero {
    background: url(../Images/bkgd-hero.jpg) no-repeat center center/cover;
    
    height: 620px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.hero-content {
  background-color: #ffffff80;
  padding: 75px;
  max-width: 500px;
  top: 25%;
  left: 5%;
  bottom: 5%;
  position: relative; 
}

.hero-content h1 {
  font-size: 3.5em;
  font-weight: 300;
  color: #000;
}

.hero-content p {
  font-size: 1.6em;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 200;
  color: #000;
  line-height: 1.4em;
}



.hero-content span.bold {
    display: block;
}
/**************************************************** BENEFITS */

.benefits {
    display: flex;
    background-color: #edefc0;
    padding: 30px 20px 60px;
    gap: 40px;
    flex-wrap: wrap;
}

.benefits-heading-box {
    background-color: #fef9f5;
    padding: 40px 0 10px ;
    max-width: 6500px;
    
    
    
    
}

.benefits-left {
    flex: 1 1 100%;
    text-align: center;
}

.benefits-right {
    flex: 1 1 100%;
    max-width: 600px;
    margin: 0 auto;
}

.benefits-right ul {
    list-style: none;
  padding: 0;
  font-size: 1.3em;
  line-height: 1.6em;
  text-align: left;
  max-width: 400px;
  margin:-20px auto 0 130px;
}

.benefits-right ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

/**************************************************** Smiles */
.smiles {
  padding: 20px 0;
  background-color: #336600;
  color: white;
  border-bottom: 40px solid white;
}

.smiles-heading {
    padding-right: 20px;
}

.smiles-grid2 {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  
}

/* Divider line between columns */
.divider {
  height: 90px;
  width: 1px;
  background-color: white;
  justify-self: center;
  align-self: center;
}

/* Left column: heading with icon */
.smiles-heading h2 {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
}

.smiles-heading i {
  color: #336600;
  font-size: 2em;
  margin-right: 12px;
  text-shadow: 
    -2px -2px 0 #fff,
     2px -2px 0 #fff,
    -2px  2px 0 #fff,
     2px  2px 0 #fff;
}

/* Right column: paragraph and link */
.smiles-text p {
  font-size: 1.2em;
  color: white;
  text-align: left;
  margin: 1em;
  padding: 0;
  
}

.smiles-text a {
  color: #fff;
  text-decoration: underline;
  font-size: 1em;
  text-align: start;
}

.smiles-text .aligned-link {
    display: inline-block;
    margin-left: 1;
    text-align: left;
    
}




/**************************************************** CALL To Action */
.cta {
  background: url("../Images/bkgd-cta.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.cta-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  width: 400px;
}

.cta h3 {
  font-size: 2em;
  margin-bottom: 10px;
  
}

.cta form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0;
  margin: 0;
  padding: 0;
}

.cta input {
  padding: 10px;
  border: 1px solid #f0f0f0;
  font-size: 1em;
  font-family: Open Sans, sans-serif;
  background-color: #f0f0f0;
  margin-bottom: 0;
}

.cta button {
  padding: 5px 10px 10px 10px ;
  background-color: #e36c04;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.cta button:hover {
  background-color: #ff9933;
}

.cta input,
.cta button {
    
    margin: 0;
}


/**************************************************** FOOTER **/

footer {
    background-color: #336600;
    border-top: 40px solid white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
}

.footer-container img {
    float: left;
    width: 50px;
    margin: 0;
    filter: brightness(0) invert(1);
}

.footer-container p {
  line-height: 50px;
  font-size: 14px;
}

/**************************************************** MEDIA QUERIES **/
/* For mobile phones (portiait and landscape views)*/
/*Header*/
@media screen and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        height: auto;
    }

    .menu nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .menu nav a {
        margin: 5px 0;
        font-size: 18px;
    }

    .hero {
        background-position: center;
        background-size: 150%;
        height: 300px;
        padding: 20px;
    }

    
    

    .benefits {
        display: block;
        padding: 30px 20px;
    }

    

    .grid2 {
        display: block;
        padding: 20px;
    }

    .border {
        margin-bottom: 20px;
    }

   
    .cta {
        padding: 40px 10px;
        background-position: center;
        background-size: cover;
    }

    .cta-inner {
        padding: 20px;
    }

    .cta h3 {
        font-size: 1.2em;
        text-align: center;
    }

    .cta form {
        flex-direction: column;
        width: 100%;
    }

    .cta input,
    .cta button {
        width: 100%;
    }

    footer {
        padding: 20px;
    }

    footer img {
        float: none;
        display: block;
        margin: 0 auto 10px;
    }

}

/**********Tablets( min-width: 600px) amd (max-width: 1024px)*********/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    header {
        padding: 0 30px;
    }

    .menu nav a {
        font-size: 20px;
        margin-left: 15px;
    }

    .hero {
        height: 400px;
        background-position: center;
        background-size: cover;
    }

    .hero-content h1 {
        font-size: 2.2em;
    }

    .hero-content p {
        font-size: 1.2em;
    }

    .benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 40px;
    }

    .grid2 {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .cta {
        padding: 60px 30px;
    }

    .cta-inner {
        padding: 30px;
    }

    .cta h3 {
        font-size: 1.6em;
    }

    footer {
        padding: 30px;
    }
}